:root {
  --text-color: whitesmoke;
  --drop-shadow: 0 3px 20px 0 rgba(0,0,0,0.2),
                 0 3px 20px 0 rgba(0,0,0,0.2),
                 0 3px 20px 0 rgba(0,0,0,0.2);
}

.slate {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.backdrop {
  position: absolute;
  background-image: linear-gradient(135deg, cyan, magenta);
  height: 100vh;
  width: 100vw;
  filter: brightness(0.5);
}

#display { grid-area: display }
#visualizer { grid-area: visualizer }
.pad-grid { grid-area: pad-grid }

#drum-machine {
  position: relative;
  margin-top: 100px;
  background-color: #222;
  padding: 100px 65px 100px 100px;
  height: fit-content;
  align-content: center;
  border-radius: 60px;
  box-shadow: var(--drop-shadow);
  display: grid;
  grid-template: 150px 150px / 300px 300px;
  grid-template-areas: 'pad-grid display'
                       'pad-grid visualizer';
}

#display, #visualizer {
  display: flex;
  justify-self: center;
  background-color: #3F3F3F;
  border-radius: 5px;
  width: 80%;
  height: 70%;
}

#display {
  align-self: flex-end;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
}

#display-text {
  color: var(--text-color);
  font-size: 30px;
}

#visualizer {
  align-self: flex-start;
  margin-top: 10px;
}

.pad-grid {
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 10px 10px;
}

.drum-pad {
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: lightgrey;
}

.active:defined {
  background-color: cadetblue;
  color: var(--text-color);
  box-shadow: 0 90px 50px -30px rgba(0,0,0,0.5) inset;
  transform: rotateX(30deg);
}

.drum-pad, .active:defined {
  transition: transform 50ms;
  transform-origin: bottom;
}

.char {
  pointer-events: none;
  font-weight: bold;
  font-size: 28px;
}
