.slate {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #222;
}

#display { grid-area: display }
.buttons { grid-area: buttons }

#drum-machine {
  box-shadow: 0 0 0 1px red;
  margin-top: 200px;
  height: fit-content;
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: 50px 300px;
  grid-template-areas: 'display'
                       'buttons';
}

#display {
  color: white;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
